* {
  margin: 0;
  padding: 0;
}

.menubtn {
  display: flex;
  width: 40%;
  min-width: 300px;
  z-index: 2;
}

.banner-text {
  display: flex;
  padding: "10px" "10px" "10px" "10px";
  justify-content: space-between;
  color: #000;
  size: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

.banner-text h1 {
  font-size: 50px;
  font-style: initial;
  size: 12px;
  justify-content: center;
  text-align: center;
}

/* Food Card */

.foodsection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.foodsection-card {
  text-align: center;
  width: 20%;
}

.foodsection-image {
  width: 100%;
  height: 400px;
  border-top: 1px, solid #808080ab;
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  position: relative;
  border-top: 1px, solid #808080ab;
  padding-top: 32px;
  padding-bottom: 32px;
}

.heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container img {
  width: 60%;
  margin: auto;
  height: auto;
  box-sizing: inherit;
}

.heading4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.h5 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: italic;
}

.container p {
  text-align: center;
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;
}

.c {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 5%;
}

.midbtn{
  text-align: center;
  border: none;
  border-radius: none;
}

 /* --footer-- */

footer {
  display: block;
  border-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  box-sizing: inherit;
}

.footr {
  flex-basis: 31%;
  display: flex;
  box-sizing: inherit;
  padding-top: 32px, important;
  padding-bottom: 32px, important;
}

.foot {
  display: flex;
}

.title {
  margin-bottom: 50px;
}

.foot3,
.foot4 {
  display: flex;
  align-content: center;
}

.foot1 {
  width: 30%;
  padding: 0;
}

.foot2 {
  width: 30%;
  padding: 0 8px;
}

.foot3 img {
  height: 8vh;
  padding-top: 50px;
  margin-bottom: 4%;
}

.foot4 img {
  height: 8vh;
  margin-top: 4%;
}

.foot3p {
  margin-top: 15%;
  margin-left: 30px;
}

.foot4p {
  margin-top: 12%;
  margin-left: 30px;
}

.tags1 {
  background-color: #000;
  color: #fff;
  width: 4.5vw;
  text-align: center;
  justify-content: center;
  height: 4vh;
  }

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.tags2 {
  background-color: #24292f;
  color: #ffff;
  margin: 1px;
  box-sizing: inherit;
  height: 2.5vh;
  width: 3.5vw;
  text-align: center;
}

.tail {
  margin-top: 50px;
  box-sizing: inherit;
}

.u {
  display: flex;
  margin-top: 7%;
  gap: 0.5rem;
}

.x {
  display: flex;
  margin-top: 7%;
  gap: 0.5rem;
}

.y {
  display: flex;
  margin-top: 1%;
  gap: 0.5rem;
}

.t {
  display: flex;
  margin-top: 1%;
  gap: 0.5rem;
}

@media screen and (max-width: 600px) {

  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .foodsection {
    display: grid;
    grid-template-columns: 1fr;
  }

  .foodsection-card {
    display: block;
  }

  .midbtn {
    display: left;
    grid-template-columns: 1fr;
  }

  .container {
    display: block;
    box-sizing: inherit;
  }

  .heading {
    font-size: small;
    font-weight: lighter;
  }

  .c {
    display: flex;
    box-sizing: inherit;
    font-size: smaller;
  }

  .container img {
    height: 100px;
    width: 100px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footr {
    display: grid;
    grid-template-columns: 1fr;
  }
}
