* {
  margin: 0;
  padding: 0;
}
.banner-text {
     
  display: flex;
  padding: "10px" "10px" "10px" "10px";
  margin-bottom: 60px;
  justify-content: space-between;
  color: #000;
  size: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

.banner-text h1 {
  font-size: 50px;
  font-style: initial;
  size: 12px;
  justify-content: center;
  text-align: center;
}

/* Food Card */

.foodsection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.foodsection-card {
  text-align: center;
  width: 20%;
}

.foodsection-image {
  width: 100%;
  height: 400px;
  border-top: 1px solid rgba(128, 128, 128, 0.671);
}
.container {

  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  position: relative;
  border-top: 1px solid rgba(128, 128, 128, 0.671);
}
.heading {

  margin-top:50px;
  margin-bottom: 50px;
}
.container img {

  width: 90%;
  margin: auto;
  height: auto;
}
.heading4 {

  margin-top: 40px;
  margin-bottom: 40px;
}
.h5 {

  font-style: italic;
  margin-top: 20px;
  margin-bottom: 30px;
}
.container p {

  justify-content: center;
  text-align: center;
}

/*--footer--*/

#footer {

  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(128, 128, 128, 0.671);
}
.footer {

  flex-basis: 31%;
}
.title {

  margin-top: 50px;
  margin-bottom: 40px;
}
img {

  height: 40px;
  width: 40px;
}
#tags {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.tags {

  background-color: #000;
  color: #ffff;
  margin: 5px;
}
.t {

  padding-top: 30px;
}
