* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Karma, sans-serif;
}

header{
  position: fixed;
  padding: "10px" "10px" "10px" "10px";
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
}

.menubtn img {
  filter: invert(100%);
  height: 4vh;
  width: 2vw;
  padding: 10px;
}

.menubtn h2 {
  display: flex;
  width: 40%;
  min-width: 300px;
  z-index: 2;
  font-weight: lighter;
}

.banner-text {
  display: flex;
  padding: "10px" "10px" "10px" "10px";
  justify-content: space-between;
  color: #000;
  size: 12px;
  width: 85%;
  margin: auto;
}

.banner-text h1 {
  font-size: 50px;
  font-style: initial;
  size: 12px;
  justify-content: center;
  text-align: center;
}

/* Food Card */

.foodsection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font: karma, sans-serif;
  font-weight: lighter;
}

.foodsection-card {
  text-align: center;
  width: 20%;
  font: karma, sans-serif;
  font-weight: lighter;
}

.foodsection-image {
  width: 100%;
  height: 400px;
  border-top: 1px, solid #808080ab;
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  position: relative;
  border-top: 1px, solid #808080ab;
  padding-top: 32px;
  padding-bottom: 32px;
}

.heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container img {
  width: 60%;
  margin: auto;
  height: auto;
  box-sizing: inherit;
}

.heading4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.h5 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: italic;
}

.container p {
  text-align: center;
  justify-content: center;
  margin-left: 12%;
  margin-right: 12%;
}

.c {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 5%;
}

.num {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.num a {
  padding: 8px 10px;
  color: #000;
  float: left;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 50px;
}

.num a span {
  background-color: #000;
  padding: 4px 12px;
  color: #fff;
}

.num a:hover {
  background-color: #00eded;
}

/* --footer-- */

footer {
  display: block;
  border-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  box-sizing: inherit;
}

.footr {
  flex-basis: 31%;
  display: flex;
  box-sizing: inherit;
  padding-top: 32px, important;
  padding-bottom: 32px, important;
}

.foot {
  display: flex;
}

.title {
  margin-bottom: 50px;
}

.foot3,
.foot4 {
  display: flex;
  align-content: center;
}

.foot1 {
  width: 30%;
  padding: 0;
  margin: 3%;
}

.foot2 {
  width: 30%;
  padding: 0 8px;
  margin: 3%;
}

.foot3 img {
  height: 14vh;
  width: 4vw;
  padding-top: 50px;
  margin-bottom: 4%;
}

.foot3p {
  margin-top: 5%;
}

.foot4 img {
  height: 8vh;
  margin-top: 4%;
}

.foot3p {
  margin-top: 15%;
  margin-left: 30px;
}

.foot4p {
  margin-top: 12%;
  margin-left: 30px;
}

.tags1 {
  background-color: #000;
  color: #fff;
  width: 4.5vw;
  text-align: center;
  height:4vh;
  padding: 5px 15px;
  margin: 0;
  font-size: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
}

.tags2 {
  background-color: #808080;
  background-size: inherit;
  color: #ffff;
  margin: 0;
  box-sizing: inherit;
  height: 4vh;
  width: 5;
  padding:5px 15px;
  text-align: center;
  font-size: 12px;
}

.tail {
  margin-top: 50px;
  box-sizing: inherit;
}

.u {
  display: flex;
  margin-top: 7%;
  gap: 0.5rem;
  font-size: 11px;
  padding: 10px 5px;
}

.x {
  display: flex;
  margin-top: 7%;
  gap: 0.5rem;
  font-size: 11px;
  padding: 10px 5px;
}

.y {
  display: flex;
  margin-top: 1%;
  gap: 0.5rem;
}

.t {
  display: flex;
  margin-top: 1%;
  gap: 0.5rem;
  font-size: 11px;
  padding: 10px 5px;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  .foodsection-card {
    width: calc(100% - 40px);
  }

  .foodsection {
    display: flex;
    align-items: center;
  }

  .footr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 2px;
  }

  .foot1 {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .foot2 {
    width: 100%;
  }

  .foot3 img {
    height: 20vh;
    width: 12vw;
  }

  .foot4 img {
    height: 11vh;
    width: 12vw;
}
}